{% extends  "base.html" %}

{% block style %}<link rel="stylesheet" href="../static/about.css">{% endblock %}
{{navbar}}


   {% block contentabout %}  <div class="abouts"><h2>ABOUT US</h2></div>

        <div class="aboutstxt"><p>We were founded in 2020 in Georgia, Tbilisi. <br>All our products are handcrafted, honed through hands-on experimentation into authentic, daring design. <br>we strive to master its materials, texture and style. <br>Our name is CONCRETE 41, concrete - because it describes the name of the material and 41 - it has a symbolic load.<br>

We always try to make our products in the spirit of mastery. <br>We are constantly looking to improve all aspects of our business.

</p></div>
{% endblock %}

{{footer}}