<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../static/admin.css">
    <link rel = "icon" href ="../static/conc41.png" type = "image/x-icon">
</head>
<body>

    <div class="sidebar">
      <a class="active" href={{ url_for("aflowerpot") }}>Change Posts</a>


    </div>

    <div class="content">
      <h2>CHANGE SLIDER PHOTOS</h2>
      <div class="slider_imgs">

        <div class="slider_img1">
            <label for = "slider-img">Insert Image in (.(jpeg,png)) format</label>
            <input type = "text" placeholder="IMAGE1" id = "slider-img" required > {#            change photo1#}


            <input type="submit" value="Change">
        </div>



        <div class="slider_img2">
            <label for = "slider-img">Insert Image in (.(jpeg,png)) format</label>
            <input type = "text" placeholder="IMAGE2" id = "slider-img" required > {#            change photo2#}

            <input type="submit" value="Change">
        </div>



        <div class="slider_img3">
            <label for = "slider-img">Insert Image in (.(jpeg,png)) format</label>
            <input type = "text" placeholder="IMAGE3" id = "slider-img" required > {#            change photo3#}

            <input type="submit" value="Change">
        </div>


          <div class="slider_img4">
            <label for = "slider-img">Insert Image in (.(jpeg,png)) format</label>
            <input type = "text" placeholder="IMAGE4" id = "slider-img" required > {#            change photo4#}

            <input type="submit" value="Change">
        </div>


      </div>
    </div>


</body>
</html>

