{% extends "base.html" %}

{% block style %}<link rel="stylesheet" href="../static/chess.css">{% endblock %}
{{navbar}}


    {% block contentchess %} <div class="abouts"><h2>CHESS</h2></div>

        <div class="content-wrapper">


            <div class="info-wrap">
               <div class="info_img"> <img class="imgs" src="../static/qotanski.jpg" alt="IMAGE"></div>

                <div class="info-content">
                <div class="card-details"><h2 class="card-availability">Available Colors</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div></div></div>

                    <div class="card-details"><h2 class="price">Price</h2><h1 class="p">GEL 22,00,&#x20BE;</h1></div>
                   <div class="card-details"><h2 class="code">Code</h2><h1 class="p">POT4</h1></div>
                   <div class="card-details"><h2 class="size">Size</h2><h1 class="p">Height -20cm<br>Inner diameter-30cm<br>Outer diameter-33cm</h1></div>



                    </div>
    </div>
             <div class="info-wrap">
               <div class="info_img"> <img class="imgs" src="../static/qotanski.jpg" alt="IMAGE"></div>


                <div class="info-content">
                <div class="card-details"><h2 class="card-availability">Available Colors</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div></div></div>

                    <div class="card-details"><h2 class="price">Price</h2><h1 class="p">GEL 22,00,&#x20BE;</h1></div>
                   <div class="card-details"><h2 class="code">Code</h2><h1 class="p">POT4</h1></div>
                   <div class="card-details"><h2 class="size">Size</h2><h1 class="p">Height -20cm<br>Inner diameter-30cm<br>Outer diameter-33cm</h1></div>



                    </div>


    </div>


         <div class="info-wrap">
               <div class="info_img"> <img class="imgs" src="../static/qotanski.jpg" alt="IMAGE"></div>


                <div class="info-content">
                <div class="card-details"><h2 class="card-availability">Available Colors</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div></div></div>

                    <div class="card-details"><h2 class="price">Price</h2><h1 class="p">GEL 22,00,&#x20BE;</h1></div>
                   <div class="card-details"><h2 class="code">Code</h2><h1 class="p">POT4</h1></div>
                   <div class="card-details"><h2 class="size">Size</h2><h1 class="p">Height -20cm<br>Inner diameter-30cm<br>Outer diameter-33cm</h1></div>



                    </div>
    </div>


             <div class="info-wrap">
               <div class="info_img"> <img class="imgs" src="../static/qotanski.jpg" alt="IMAGE"></div>


               <div class="info-content">


                <div class="card-details"><h2 class="card-availability">Available Colors</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div></div></div>

                   <div class="card-details"><h2 class="price">Price</h2><h1 class="p">GEL 22,00,&#x20BE;</h1></div>
                   <div class="card-details"><h2 class="code">Code</h2><h1 class="p">POT4</h1></div>
                   <div class="card-details"><h2 class="size">Size</h2><h1 class="p">Height -20cm<br>Inner diameter-30cm<br>Outer diameter-33cm</h1></div>


                    </div>
    </div>


        </div>

{% endblock %}


{{footer}}