{% extends "base.html" %}

{% block style %}<link rel="stylesheet" href="../static/sale.css">{% endblock %}
{{navbar}}

{% block contentsale %}
    <!--card products-->

<div class="class-wrapper">
    <div class="product-cards">


        <div class="card_wrapper">
            <div class="card">

               <div class="card-img "> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color1"></div><div class="color2"></div><div class="color3"></div>
                </div> </div>
            </div>
        </div>


             <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div>
                </div> </div>
            </div>
        </div>

        <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div>
                </div> </div>
            </div>
        </div>

        <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div>
                </div> </div>
            </div>
        </div>

        <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div>
                </div> </div>
            </div>
        </div>

        <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div>
                </div> </div>
            </div>
        </div>

        <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div>
                </div> </div>
            </div>
        </div>






             <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color7"></div><div class="color8"></div><div class="color9"></div>
                </div> </div>
            </div>
        </div>

        <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div>
                </div> </div>
            </div>
        </div>

        <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
               <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div>
                </div> </div>
            </div>
        </div>

        <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color4"></div><div class="color5"></div><div class="color6"></div>
                </div> </div>
            </div>
        </div>






             <div class="card_wrapper">
            <div class="card">

               <div class="card-img"> <img src="../static/qotanski.jpg" alt="IMAGE"></div>
                <a href="#" ><h1 class="prodname">{{ _('Concrete FlowerPot') }}</h1><h1 class="card-title lang" key="two">H - 20cm &ensp;Id-30cm &ensp;Od-33cm</h1></a>
                <div class="card-details"><h2 class="card-availability">GEL 22,00&#x20BE;</h2> <div class="colors">
                    <div class="color7"></div><div class="color8"></div><div class="color9"></div>
                </div> </div>
            </div>
        </div>

        </div>



            </div>


        <!-- collections --->




{% endblock %}

{{ footer }}

