{% extends "base.html" %}

{% block style %}<link rel="stylesheet" href="../static/terms.css">{% endblock %}
{{navbar}}


       {% block contentterm %} <div class="termss"><h2>TERMS & CONDITIONS</h2></div>

        <div class="deliv"><h2>DELIVERY</h2></div>

        <div class="textdeliv"><p>Shipping cost is <span>5 GEL</span> throughout Tbilisi. When sending out of Tbilisi, the availability will becalculated according to the Georgian Post<br>Postal Calculator.</p></div>

        <div class="returnp"><h2>RETURN OR REFUND POLICY</h2></div>

        <div class="returntxt"><h2>CONCRETE 41 trusts that you will be satisfied with the merchandise you purchase through our channel.</h2></div>

        <div class="returntxt1"><h2><br>However, if for any reason you need to return the goods, we are happy. We accept returns within <span>5 days</span> of receiving the item, please contact <br>us immediately at <span>info@concrete41.com</span> or by phone at <span>+995599479881</span></h2></div>

        <div class="returntxt2"><h2><br>To be eligible for a refund, your item must be unused and in the same condition in which you received it. It should also be in the original packaging. <br>The fee for return shipping and processing is <span>8 GEL</span>. We will come to the first specified address and take it back.</h2></div>
        <div class="returntxt3"><h2><br>If you request a refund, the purchase availability (including delivery fee) will be refunded to you once we <br>have received the returned item back and confirmed that it meets the above conditions.</h2></div>
{% endblock %}


{{footer}}